<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyStories</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: '#ccc',
                hide: '#777777',
                orange: '#F64C72',
                blacka: '#41436A'

              }
             
            }
          }
        }
      </script>
      <style type="text/tailwindcss">
        @layer utilities {
          
            .borderbox {
              box-sizing: border-box;
            }
            .transparentcl{
              background-color:transparent;
            }
            .alo{
              top: -200px;
              width: 300px;
              height: 400px;
              border-radius: 20px;
              margin: 0 auto;
            }
            .bg-light{
              /* background-color: #63a4ff; */
              background-color: #ffffff;
            }
            .bg-strong{
              background-color: #ffffff;
              /* background-image: linear-gradient(90deg,#136594,#6010a9); */
            }
            .rotatee135{
              transform: rotate(135deg);
            }
            .shadow{
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px 5px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
            .transform15{
              transform: scale(1.1);
            }
            .bg{
              width:fullscreen;
              height:1500px;
              background-color: white;
            }
         
            .w250{
              width: 500px;
            }
            *{
                  padding: 0;
                  margin:0;
                  box-sizing: border-box;
              }
          .max-w-1280{
                  max-width: 80rem;
                }
                .nonedisplay{
                display: none;
              }
              .blockdisplay{
                display: block;
              }
         
        }

      </style>
    
    
</head>
<body>
    <header class="flex justify-center h-20 transparentcl">
        <div class="flex items-center justify-between w-4/5 p-4 font-semibold text-white-500 max-w-1280">
            <div class=" w-1/4 lg:w-1/3 cursor-pointer text-3xl font-black md:text-center">
              <a href="/users" class="text-center text-orange">My<span class="text-black">Stories</span></a>  
            </div>
            <nav class="w-1/2 lg:w-1/3 md:block nonedisplay ">
                <ul class="flex flex-row justify-evenly cursor-pointer md:text-black">
                    <li class="font-semibold hover:text-primary duration-300">
                    <a href="/users" class="text-black">Home</a>
                    </li>
                    <li class="font-semibold hover:text-primary duration-300">
                      <a href="/users/about" class="text-black">About</a>
                    </li>
                    <li class="font-semibold hover:text-primary duration-300">
                    <a href="/users/gallery"class="text-black" >My Gallery</a>
                    </li>
                    <li class="font-semibold hover:text-primary duration-300 ">
                    <a href="/users/blogs" class="text-black">Blogs</a>
                    </li>
                </ul>
            </nav> 
            <div class="flex flex-row"> 
             <div class="userWraper relative w-fit borderbox">
              <div class=" userBtn flex flex-row gap-3 p-2 text-white px-3 justify-center items-center w-48 gap-2 cursor-pointer">
              <div class="w-8 h-8 rounded-full bg-red-500 truncate">
                <img src="/img/avatar1.jpg" alt="">
              </div>
              <span class="w-fit"><p class="text-black nameUser"><%=decoded['username']%></p></span>
             </div>
             <ul class="userNav bg-blacka absolute rounded-xl nonedisplay w-fit">
              <li class="flex flex-row gap-3 m-2 text-white px-3 w-fit cursor-pointer hover:transform15"><span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                </svg>
              </span><a href="/users/userprofile"><h2>Your Profile</h2></a></li>
              <li class="flex flex-row gap-3 m-2 text-white px-3 w-fit cursor-pointer hover:transform15"><span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
                </svg>
              </span> <h2>Saved</h2></li>
              <li class="flex flex-row gap-3 m-2 text-white px-3 w-fit cursor-pointer hover:transform15"><span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
              </span> <h2>Help</h2>
            </li>
             
                <li class="m-2 text-white px-3 w-fit cursor-pointer hover:transform15">
                  <a href="/logout" class="flex flex-row gap-3">
                   <span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd" />
                      </svg>
                  </span>
                   <h2>Log Out</h2>
                  </a>
               </li>
              
              
              
             </ul>
            </div>
            <div class="cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 visible md:invisible mx-4 md:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h8m-8 6h16">
              </svg>
            </div>
          </div>
           
        </div>
        
    </header>
</body>
<script type="text/javascript" src="/JS/about.js">
</script>
</html>