<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyStories</title>
   <script src="https://cdn.tailwindcss.com"></script>
   <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: '#2d6cdf',
                hide: '#777777'
              }
            }
          }
        }
      </script>
      <style type="text/tailwindcss">
        @layer utilities {
                    *{
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
    
        }
                body,html{
                    /* background: linear-gradient(120deg, rgba(35, 89, 227, 0.6), rgb(241, 88, 164)) no-repeat;   */
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .bg{
                  background: linear-gradient(120deg, rgba(35, 89, 227, 0.6), rgb(241, 88, 164)) no-repeat;
                }
                .main{
                    height: fit-content;
                    width: fit-content;
                    padding: 30px;
                    background-color: #fff;
                    border-radius: 25px;

                }
                #form-1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                }
                .inputstyle{
                    height: 40px;
                    padding-left: 10px;
                    width: 350px;
                    outline: none;
                    border-bottom: 2px solid #ccc;
                    margin: 5px 0;
                    padding: 10px;
                    font-size: 15px;
                }
                .btn-submit1{
                    width: 100%;
                    height: 40px;
                    outline: none;
                    border-radius: 10px;
                    border: none;
                    background-color:rgba(2, 65, 223, 0.6) ;
                    color:#fff;
                    font-size: 20px;
                    margin: 10px 0;
                    cursor: pointer;
                    z-index: 99;
                }

                div.error input{
                    border-bottom: 2px solid rgb(233, 96, 119);
                }
                div.error .form-message{
                    color: rgb(233, 96, 119);
                }
  
        }

      </style>
</head>
<body  class="sm:bg bg-white">
    <div class="main p-0 sm:p-7 flex sm:flex-row flex-col gap-7 items-center">
        <form action="/" method="post" id="form-1" name="form1">
          <h2 class="text-center text-md sm:text-lg">Đăng nhập bằng <span class="text-blue-500 cursor-pointer underline text-sm sm:text-md">Google?</span></h2>
            
            <div class=" w-full cursor-pointer text-2xl sm:text-4xl font-black text-black text-center my-5">
                <a href="/" class="text-center">My<span class="text-primary">Stories</span></a>  
              </div>
                <div class="form-group my-2">
                    <label for="fullname" class="form-label" >Your Username</label><br>
                    <input class=" border-b-2 h-12 text-sm w-72 border-gray-500 sm:inputstyle" type="text" id="username" name="username" placeholder="Tên của bạn" > <br>
                    <span class="form-message" ></span> 
                </div>
                <div class="form-group mb-2">
                    <label for="password" class="form-label" >Your Password</label><br>
                    <input class="border-b-2 h-12 text-sm w-72 border-gray-500 sm:inputstyle" type="password" id="user-password" name="userpassword" placeholder="Mật khẩu"> <br>
                    <span class="form-message" ></span> 
                </div>
                <button type="submit" class="sm:btn-submit1 w-40 h-10 border-2 rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 text-white text mx-auto" >Đăng Nhập</button>
                <h3 class="text-center">Bạn chưa có tài khoản? <a href="/add" class="text-blue-500 cursor-pointer"> Đăng ký </a></h3>
            
        </form>
        <div class="w-96 bg-white h-96 border-l-2 border-gray-200 flex flex-col items-center justify-center gap-10">
          <h1 class="font-semibold text-xl">Đăng nhập bằng cách khác?</h1>
          <div class="border-2 border-gray-200 w-4/5 flex justify-center rounded-xl p-2 cursor-pointer">
            <a href="" class="">
                <img class="w-20 h-auto" src="https://logos-world.net/wp-content/uploads/2020/09/Google-Logo.png" alt="">
              </a>
          </div>
          <div class="border-2 border-gray-200 w-4/5 flex justify-center rounded-xl p-2 cursor-pointer">
            <a href="" class="">
            <img class="w-auto h-10" src="https://cdn.freebiesupply.com/logos/large/2x/facebook-2-logo-png-transparent.png" alt="">
              </a>
          </div>
          
    </div>
    </div>
    
  <script type="text/javascript" src="./JS/login.js"> </script>
</body>
  
</html>